/* Header css */
.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

/* common-bg */
.bg-abstract {
  background-image: url('../img/myimages/abstract-img.png');
  background-size: cover;
  backdrop-filter: opacity(0.5);
  background-repeat: no-repeat;
  background-position: center;
}

/* Common button */
.theme-button {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  padding: 6px 30px;
  border-radius: 6px;
}

.theme-button:hover {
  background-color: var(--text-secondary-color);
  color: #ffffff;
}

/* common list css */
.bullet-list {
  list-style-type: disc !important;
}

/* common shadow aroung image */
.shadow-img {
  box-shadow: 6px 6px 17px 0px #ccc;
}

/* ------------------------------------------- */
.social-icons {
  background-color: #b5d6ff;
}

.social-icons ul {
  display: flex;
  align-items: center;
  gap: 14px;
  list-style-type: none;
  margin-bottom: 0;
  padding: 10px 0;
  justify-content: flex-end;
}

.social-icons ul li img {
  max-width: 26px;
}

/* -- */
#hero .img-cover {
  text-align: right;
}

#hero .img-cover img {
  animation: zoom-in-zoom-out 5s ease-in-out infinite;
}

.zoom-animation {
  animation: zoom-in-zoom-out 5s ease-in-out infinite;
}

/*-- KeyFrames --*/
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.05, 1.05);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* ------- */

/* main banner css */
.heading-contents h2 {
  margin-bottom: 0;
}

.hero .hero-bg::before {
  background: rgba(var(--background-color-rgb), 0.85);
}

.hero h1 {
  font-size: 52px;
  /* text-shadow: 2px 1px #989898; */
}

.hero h2 {
  font-size: 42px;
}

.navmenu a,
.navmenu a:focus {
  font-size: 17px;
}


/* videos css */
.hero {
  padding: 0;
}

.video-section {
  position: relative;
  height: 82vh;
  overflow: hidden;
}

.video-layer {
  position: relative;
  overflow: hidden;
}

.layer-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(249, 249, 249);
  background: linear-gradient(90deg, rgba(249, 249, 249, 1) 35%, rgba(255, 255, 255, 1) 100%);
  opacity: 0.8;
  z-index: 9;
}

.video-layer video {
  width: 100%
}

.content-layer {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translateX(-50%);

}

.footer {
  padding-bottom: 0;
}

/* Media css */
@media (max-width: 480px) {
  .header .logo img {
    max-height: 50px;
  }
}

@media only screen and (max-width:767px) {
  /* .content-layer .m-view {
    display: block;
  } */

  .m-view .heading-contents h2 {
    font-size: 30px;
  }

  .m-view .heading-contents h1 {
    font-size: 30px;
  }

  .m-view .heading-contents.gap-4 {
    gap: 0.5rem !important;
    padding: 40px 0
  }

  .video-layer video {
    width: unset;
    height: 546px;
  }
}

/* sidenav css */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  margin-bottom: 10px;
}

.sidenav ul {
  padding-left: 0;
  list-style-type: none;
}

.sidenav a:hover {
  color: #818181;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


.full-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  z-index: -1;
}


.btn.hamburger-btn {
  width: 54px;
  cursor: pointer;
  border: 0 !important;
  padding-right: 0;
}

@media only screen and (max-width:1200px) {
  .btn.hamburger-btn {
    position: absolute;
    right: 10px;
  }
}

.hamburger-btn span {
  display: block;
  width: 100%;
  border-radius: 4px;
  height: 4px;
  background: #555555;
  transition: all .3s;
  position: relative;
}

.hamburger-btn span+span {
  margin-top: 8px;
}


/* ----------- new css */
@media (min-width: 768px) {
  .hero .hero-img {
    margin-top: 50px;
    max-width: 100% !important;
  }
}

.card-intro-data {
  height: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 4px 4px 16px 1px #ccc;
}

.card-intro-data .img-wrapper {
  position: relative;
  overflow: hidden;
  height: 200px;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-intro-data .img-wrapper::after {
  content: "";
  width: 100%;
  display: block;
  padding-bottom: 74%;
}

.card-intro-data .img-wrapper img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  transition: all 1.6s ease-in-out;
}

.card-intro-data .img-wrapper:hover img {
  transform: translateY(-50%) scale(1.2);
}

.card-intro-data .text-wrapper {
  padding: 16px;
  text-align: center;
}

.card-intro-data .text-wrapper h4 {
  font-size: 15px;
  color: var(--dark-gray);
  line-height: 1.4;
  margin-bottom: 0;
}

.card-intro-data .text-wrapper h3 {
  font-size: 24px;
  color: var(--dark-gray);
  line-height: 1.8;
  margin-bottom: 0;
}

.card-intro-data .text-wrapper p {
  color: var(--base-color);
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 12px;
}

@media only screen and (max-width:991px) {

  .video-section {
    height: 100%;
  }
}


/* CSS for SLIDER */


/* CSS FOR SLIDING */

.slider-stage {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 60px;
}

.slider-stage .slider-item-bulb img {
  position: absolute;
  max-width: 110px;
  right: 117px;
  bottom: 288px;
  filter: opacity(0.7);
  animation: zoom-in 3s ease infinite;
}

/* .slider-stage .slider-item-men {
  text-align: center;
} */

/* .slider-stage .slider-item-men img {
  position: absolute;
  max-width: 100px;
  bottom: 350px;
  margin-left: -36px;

  filter: opacity(0.7);
} */

.slider-stage .slider-item-text {
  position: absolute;
  bottom: 62%;
  width: 100%;
}

.slider-stage .slider-item-text h2.top-slider-text {
  margin-left: 10%;
  font-size: 45px;
  margin-bottom: 20px;
}

.slider-stage .slider-item-text h1 {
  margin-left: 10%;
  font-weight: 600;
  font-size: 5.2rem;
  text-shadow: 1px 2px 3px #ccc;
  margin-bottom: 24px;
}

.slider-stage .slider-item-text h2.bottom-slider-text {
  margin-left: 45%;
  font-size: 50px;
}


.slider-stage .slider-item-text h1 span.base-one-color {
  color: var(--text-secondary-color);
}

.slider-stage .slider-item-text h1 span.base-two-color {
  color: #0092D5;
}


/* academic-corporate-sec */
.academic-corporate-sec {
  position: absolute;
  left: 50px;
  bottom: 120px;
  width: 100%;
  text-align: center;

}

.academic-corporate-sec .primary-link {
  color: var(--text-secondary-color);
  font-size: 20px;
  text-shadow: 1px 1px 0px #ccc;
  text-decoration: underline;
}

.academic-corporate-sec .primary-link:hover,
.academic-corporate-sec .secondary-link:hover {
  color: var(--default-color);
}

.academic-corporate-sec .secondary-link {
  font-size: 20px;
  text-shadow: 1px 1px 0px #ccc;
  text-decoration: underline;
  color: var(--accent-color)
}

.big-section {
  min-height: calc(100vh - 60px);
}

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  /* Adjust the gap between columns and rows as needed */
}

.grid-item {
  text-align: center;
  background-color: #ffffff;
}

/* internal page main banner */
.banner {
  position: relative;
  background-image: url('../img/myimages/picture3.jpg');
  background-size: cover;
  background-position: 50% 35%;
  height: 260px;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black with 50% opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  color: white;
  font-size: 2rem;
  /* Adjust the font size as needed */
  text-align: center;
}

.focus-content {
  background-color: #0092D5;
  color: #fff;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 14px;

  p {
    margin-bottom: 0;
  }

  a {
    color: var(--text-secondary-color)
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (max-width:1199px) {

  .slider-stage .slider-item-text h1 {
    font-size: 2.8rem;
    margin-left: 18%;
    margin-bottom: 5px;
  }

  .slider-stage .slider-item-text h2.top-slider-text {
    font-size: 2rem;
    margin-bottom: 4px;
  }

  .slider-stage .slider-item-text h2.bottom-slider-text {
    font-size: 2rem;
  }

  .slider-stage .slider-item-bulb img {
    max-width: 76px;
    bottom: 300px;
    right: 160px;

  }

  .slider-stage .slider-item-men img {
    max-width: 78px;
    bottom: 304px;
  }
}

@media only screen and (max-width:991px) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card-intro-data {
    height: auto;
    margin-bottom: 15px;
  }

  .academic-corporate-sec {
    left: 0;
  }

  .slider-stage .slider-item-text h1 {
    font-size: 1.8rem;
    margin-left: 0;
    margin-bottom: 5px;
  }

  .slider-stage .slider-item-text h2.top-slider-text {
    font-size: 2rem;
    margin-bottom: 4px;
    margin-left: 0;
  }

  .slider-stage .slider-item-bulb img {
    max-width: 90px;
    bottom: 320px;
    right: 10px;
  }

  .slider-stage .slider-item-men img {
    max-width: 78px;
    bottom: 325px;
  }
}

@media only screen and (max-width:767px) {
  .xs-mb-66 {
    margin-bottom: 66% !important;
  }

  .slider-stage {
    padding: 0 20px;
  }

  .slider-stage .slider-item-text {
    bottom: 70%;
  }

  .slider-stage .slider-item-text h2.top-slider-text {
    font-size: 1.8rem;
    margin-bottom: 4px;
    margin-left: 0;
  }

  .slider-stage .slider-item-text h2.bottom-slider-text {
    font-size: 1.8rem;
    margin-left: 0;
  }

  .slider-stage .slider-item-bulb img {
    max-width: 90px;
    bottom: 284px;
    right: 10px;
  }

  .slider-stage .slider-item-men img {
    max-width: 78px;
    bottom: 284px;
  }

  .grid-container {
    flex-direction: column;
  }
}